#Screen
{
    position: relative;
    width: 800;
    height: 400;
    background: lightgrey;
    visibility: visible;
}

.sourceButton
{
    position: absolute;
    left: 700;
    background-image:url("mainData/sourceButton.png");
    width: 100px;
    height: 30px;
}
.gamesButton
{
    position: absolute;
    left: 600;
    background-image:url("mainData/gamesButton.png");
    width: 100px;
    height: 30px;
}
.ticker
{
    position: absolute;
    top: 380px;
}